#headerSection {
  padding: {
    top: 0px !important;
  }
}

#HeaderStoreIcons {
  margin: {
    top    : 40px;
    bottom : 40px;
  }
}
.storeIcon
{
  margin: {
    top: 9px;
  }
  height:40px;
}
.storeIconSmall {
  height: 60px;
}

.homeHeaderSectionTitle {
  margin: {
    top: 10px;
  }
  font: {
    family: 'open_sanslight', arial, sans-serif;
  }
  @media screen and (min-width: 768px) {
    font: {
      size: 64px;
    }
  }
  color: #222222;
  letter-spacing: 0px;
}
.homeHeaderSectionSubTitle {
  margin: {
    bottom: 30px;
  }
  font: {
    family: 'open_sanslight', arial, sans-serif;
  }
  @media screen and (min-width: 768px) {
    font: {
      size: 24px;
    }
  }
  color:  #4A4A4A; //#2574A9;//#4A4A4A;
  letter-spacing: 0px;
}


.homeHeaderSepTitle {
  max-width: 100px;
  border-width: 1px;
  border-color: #222222
}


.howToTitleContainer {
  cursor: pointer;
}
